/* Styling for homepage */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  align-items: center;
  color: white;
}

#body-container {
  background-size: cover;
}

.city {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.temperature {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.01em;
  text-shadow: 1px 1px black;
}

.weather-condition {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  text-shadow: 1px 1px black;
}

.max-min-temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  gap: 5px;
  text-shadow: 1px 1px black;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weatherIcon {
  max-width: 120px;
  height: 100px;
}

/* Styling for the hamburguer menu */

.hamburger-icon {
  visibility: visible;
  position: fixed;
  left: 40px;
  top: 75px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

.menuNav {
  list-style: none;
  position: fixed;
  margin-top: 0px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  background: linear-gradient(
    179.83deg,
    #b9cdec 0.13%,
    #0973d0 0.14%,
    #cdcdcd 41.16%,
    #fff 99.84%
  );

  visibility: hidden;
}

.menuNav.showMenu {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  visibility: visible;
}

/*** Styling for the forms ***/

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

.log-in-button {
  margin-right: 5px;
  background-color: white;
  color: black;
}

.loginbutton {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  touch-action: manipulation;
  background-color: #1677ff;
  padding-bottom: 5px;
}

.authdiv {
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 24px;
  vertical-align: top;
  color: #000;
  flex-direction: column;
  display: flex;
}

.auth-label {
  margin: 0;
  padding: 0 0 8px;
  white-space: initial;
  text-align: start;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  min-height: 1px;
  font-size: 14px;
}

.auth-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 32px;
  box-sizing: border-box;
  height: 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.google-log-in {
  padding: 10px;
  margin-top: 15px;
}

.signup-login-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
}


.avatar-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.log-in-container,
.sign-up-container {
  margin: auto;
  padding: 20px;
}

.form-buttons {
  background-color: transparent !important;
}

.form_help_text,
.signup-text {
  color: black !important;
  padding: 13px;
}

.success {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgsuccess {
  width: 50%;
}

.errormessage {
  color: red;
}
/** Styling for search locations **/

.search {
  text-align: right;
  padding: 1rem;
  padding-top: 3rem;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: right;
  max-width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0px;
  color: rgb(5, 5, 5) !important;
}

.search-container input,
.css-qc6sy-singleValue {
  width: 140px !important;
  padding-left: 5px !important;
  color: black !important;
}

.css-1s2u09g-control {
  border: 1px solid #000 !important;
  color: white !important;
}

.css-14el2xx-placeholder {
  color: black !important;
  text-align: center;
}

.css-1okebmr-indicatorSeparator,
.css-tj5bde-Svg {
  border: 1px solid white !important;
}

.search-bar-section {
  display: flex;
  flex-direction: row;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  visibility: visible;
  position: fixed;
  right: 50px;
  top: 75px;
}

/*** Styles for weather forecast ***/

.forecast {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  max-width: 100%;
  height: 220px;
  left: 25px;
  right: 25px;
  background: radial-gradient(
    178.6% 159.68% at 51.68% 0%,
    rgba(0, 6, 12, 0.3) 0%,
    rgba(2, 20, 36, 0.235) 39.58%,
    rgba(10, 10, 10, 0.03) 100%
  );
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 18px;
  text-shadow: 1px 1px black;
  gap: 7px;
}

.daily-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  width: 65px;
}

.icon-small {
  max-width: 40px;
}

/*** Styling for Google Events ***/
.events-container {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.event-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
  width: 330px;
  height: 130px;
  background-color: transparent;
  margin: 10px;
  place-items: center;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 25px;
  color: black !important;
  border-color: rgba(23, 99, 29, 0.945);
  box-shadow: 10px 5px 5px rgba(209, 72, 72, 0.527);
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  max-width: 100%;
}

.the-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-location {
  font-size: 16px;
}

.event-time {
  font-size: 16px;
  padding-right: 22px;
}

.event-summary {
  font-size: 12px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
}

.event-icon {
  font-size: 10px;
  padding-right: 18px;
}

.event-temprature {
  font-size: 22px;
  margin-top: -10px;
  padding-right: 25px;
}

.event-condition {
  padding-right: 18px;
}

.event-button {
  font-size: 23px;
  margin-top: 10px;
  border: none;
  background: transparent;
}

.event-button:hover {
  color: white;
}

/*** Forecast on windows load ***/

.windows-load-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  height: 220px;
  left: 25px;
  right: 25px;
  background: radial-gradient(
    178.6% 159.68% at 51.68% 0%,
    rgba(0, 6, 12, 0.3) 0%,
    rgba(2, 20, 36, 0.235) 39.58%,
    rgba(10, 10, 10, 0.03) 100%
  );
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 18px;
  text-shadow: 1px 1px black;
  padding: 10px;
}

.forecast-cards {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.weather-icon-onload {
  width: 60px;
  height: 60px;
  justify-content: center;
}

.temperature-on-windows-load {
  font-size: 25px;
}

.hourly-forecast {
  font-size: 26px;
  border: 0px;
  padding: 0px;
  line-height: normal;
}

/** Media queries **/

/* WINDOWS LOAD MOBILE VIEW MEDIA QUERIES */

@media screen and (max-width: 690px) {
  .accordion {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    transform: translateY(150px);
    align-items: center;
    -ms-flex-align: center;
    height: auto;
    margin-top: 20px;
  }

  .daily-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    margin-top: 10px;
    gap: 8vw;
  }

  .city {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px black;
  }

  .temperature {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 1px 1px black;
  }

  .weather-condition {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1px 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .max-min-temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    gap: 5px;
    text-shadow: 1px 1px black;
    margin-bottom: 10px;
  }

  .weather-icon {
    max-width: 200px;
    height: 200px;
  }

  .hamburger-icon {
    margin-left: 0px;
  }

  .search-icon {
    margin-right: 0px;
  }

  .windows-load-forecast {
    margin-top: 5px;
  }
}

/* FULL SCREEN WINDOWS LOAD MEDIA QUERIES */

@media screen and (min-width: 690px) {
  .accordion {
    font-size: 30px;
    transform: translateY(70px);
    align-items: center;
    align-items: flex-start;
  }

  .daily-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
  }

  .city {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px black;
    transform: translateY(-40px);
  }

  .temperature {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 1px 1px black;
    transform: translateY(-55px);
  }

  .weather-condition {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1px 1px black;
    transform: translateY(-50px);
    margin-bottom: 20px;
  }

  .max-min-temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    gap: 5px;
    text-shadow: 1px 1px black;
    transform: translateY(-55px);
  }

  .weather-icon {
    max-width: 200px;
    height: 200px;
    transform: translateY(-70px);
    align-self: center;
  }

  .hamburger-icon {
    margin-left: 20px;
  }

  .search-icon {
    margin-right: 20px;
  }

  .windows-load-forecast {
    margin-top: 5px;
  }
}
