/* Styling for homepage */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  color: white;
}

#rickBody {
  background-size: cover;
}



.city {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.temperature {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.01em;
  text-shadow: 1px 1px black;
}

.weather-condition {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  text-shadow: 1px 1px black;
}

.max-min-temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  gap: 5px;
  text-shadow: 1px 1px black;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

/* Styling for the hamburguer menu */

.hamburger-icon {
  visibility: visible;
  position: fixed;
  left: 40px;
  top: 75px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

.menuNav {
  list-style: none;
  position: fixed;
  margin-top: 0px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  max-width: 100%;
  height: 100% !important;
  background: linear-gradient(
    179.83deg,
    #b9cdec 0.13%,
    #0973d0 0.14%,
    #cdcdcd 41.16%,
    #fff 99.84%
  );

  visibility: hidden;
}

.menuNav.showMenu {
  width: 100%;
  height: 100%;
  visibility: visible;
}

/*** Forms ***/

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  margin-top: 20px;
}

.log-in-button {
  margin-right: 5px;
}

.signup-login-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
}

.log-in-button {
  background-color: white;
  color: black;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.log-in-container,
.sign-up-container {
  margin: auto;
  padding: 20px;
}

.form-buttons {
  background-color: transparent !important;
}

.form_help_text,
.signup-text {
  color: black !important;
}

/** Search for location styles **/

.search {
  text-align: right;
  padding: 1rem;
  padding-top: 3rem;
  color: rgb(0, 0, 0) !important;
}

.search-container {
  display: flex;
  justify-content: right;
  max-width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0px;
  color: rgb(5, 5, 5) !important;
}

.search-container input,
.css-qc6sy-singleValue {
  width: 140px !important;
  padding-left: 5px !important;
  color: black !important;
}

.css-1s2u09g-control {
  border: 1px solid #000 !important;
  color: white !important;
}

.css-14el2xx-placeholder {
  color: white !important;
  text-align: center;
}

.css-1okebmr-indicatorSeparator,
.css-tj5bde-Svg {
  border: 1px solid white !important;
}

.search-bar-section {
  display: flex;
  flex-direction: row;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.light-to-dark {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0px;
}

/*** Weather forecast styling ***/

.forecast {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  width: auto;
  height: 220px;
  left: 25px;
  right: 25px;
  background: radial-gradient(
    178.6% 159.68% at 51.68% 0%,
    rgba(18, 119, 208, 0.3) 0%,
    rgba(75, 152, 219, 0.235313) 39.58%,
    rgba(255, 255, 255, 0.03) 100%
  );
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 18px;
  text-shadow: 1px 1px black;
}

.daily-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  width: 65px;
}

.icon-small {
  width: 40px;
}

/*** Google Events stylig ***/
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  width: auto;
}

.the-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
  width: 300px;
  height: 120px;
  background-color: transparent;
  margin: 10px;
  place-items: center;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  color: black !important;
}

.event-location {
  font-size: 16px;
}

.event-time {
  font-size: 16px;
  padding-left: 18px;
}

.event-summary {
  font-size: 10px;
}

.event-condition {
  font-size: 10px;
}

.event-temprature {
  font-size: 22px;
}

.event-button {
  font-size: 23px;
  margin-top: 10px;
  border: none;
  background: transparent;
}

.event-button:hover {
  color: white;
}
