/* Styling for homepage */

.home-container {
  display: flex;
  flex-direction: column;
  height: 670px;
  width: 375px;
  align-items: center;
  background: linear-gradient(
      179.83deg,
      #b9cdec 0.13%,
      #0973d0 0.14%,
      #cdcdcd 41.16%,
      #fff 99.84%
    ),
    #fff;
}

.city {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 100px;
  color: #000;
}

.temperature {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.01em;
}

.weather-condition {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}

.max-min-temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  gap: 5px;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

/* Styling for the hamburguer menu */

.hamburger-icon {
  visibility: visible;
  position: fixed;
  left: 40px;
  top: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 652px;
  overflow: hidden;
  max-width: 370px;
  border-top-right-radius: 40px;
  background: linear-gradient(
      179.83deg,
      #b9cdec 0.13%,
      #0973d0 0.14%,
      #cdcdcd 41.16%,
      #fff 99.84%
    ),
    #020202;
  visibility: hidden;
}

.menuNav.showMenu {
  width: 100%;
  visibility: visible;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.log-in-button {
  margin-right: 5px;
}

.signup-login-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 30px;
}

.avatar-container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 10px;
  justify-content: center;
}

.avatar {
  height: 100px;
  width: 100px;
}

.log-in-container,
.sign-up-container {
  margin: auto;
  padding: 20px;
}

.form-buttons {
  background-color: transparent !important;
}

.search {
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
}

.input {
  padding: 0.4rem 2.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.603);
}

.search-container {
  max-width: 500px;
  margin: 20px auto;
}
