/* Styling for homepage */

.home-container {
  display: flex;
  flex-direction: column;
  height: 670px;
  width: 375px;
  align-items: center;
  background: linear-gradient(
      179.83deg,
      #b9cdec 0.13%,
      #0973d0 0.14%,
      #cdcdcd 41.16%,
      #fff 99.84%
    ),
    #fff;
}

.city {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 100px;
  color: #000;
}

.temperature {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.01em;
}

.weather-condition {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}

.max-min-temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  gap: 5px;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

/* Styling for the hamburguer menu */

.hamburger-icon {
  visibility: visible;
  position: fixed;
  left: 40px;
  top: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 652px;
  overflow: hidden;
  max-width: 370px;
  background: linear-gradient(
    179.83deg,
    #b9cdec 0.13%,
    #0973d0 0.14%,
    #cdcdcd 41.16%,
    #fff 99.84%
  );

  visibility: hidden;
}

.menuNav.showMenu {
  width: 100%;
  visibility: visible;
}

/*** Forms ***/

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  margin-top: 20px;
}

.log-in-button {
  margin-right: 5px;
}

.signup-login-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
}

.log-in-button {
  background-color: white;
  color: black;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.log-in-container,
.sign-up-container {
  margin: auto;
  padding: 20px;
}

.form-buttons {
  background-color: transparent !important;
}

/** Search for location styles **/

.search {
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
}

.search-container {
  max-width: 200px;
  margin-top: 60px;
}

.search-container input,
.css-qc6sy-singleValue {
  width: 200px !important;
  padding-left: 5px !important;
  color: black !important;
}

.css-1s2u09g-control {
  border: 1px solid #000 !important;
  color: black !important;
}

.css-14el2xx-placeholder {
  color: black !important;
  text-align: center;
}

.css-1okebmr-indicatorSeparator,
.css-tj5bde-Svg {
  border: 1px solid white !important;
}

.search-bar-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.settings-icon {
  cursor: pointer;
}

/*** Weather forecast styling ***/

.accordion {
  display: flex;
  flex-direction: row;
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  width: 328px;
  height: 186px;
  left: 25px;
  background: radial-gradient(
      178.6% 159.68% at 51.68% 0%,
      rgba(18, 119, 208, 0.3) 0%,
      rgba(75, 152, 219, 0.235313) 39.58%,
      rgba(255, 255, 255, 0.03) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 18px;
}

.daily-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  width: 65px;
}

.icon-small {
  width: 40px;
}
